@font-face {
    font-family: 'Economica';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Qw3aZQZaHCLgIWa29ZBTjecUDXx4.woff2) format('woff2');}

@font-face {
    font-family: 'Economica';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Qw3fZQZaHCLgIWa29ZBbNsIB.woff2) format('woff2');
}

@font-face {
    font-family: 'Lobster Two';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/BngRUXZGTXPUvIoyV6yN5-92w7CGwR0.woff2) format('woff2');
}